id: 'audit'
name: 'Tenable Audits'
type: 'tree-sitter'
scopeName: 'source.tenableaudits'
parser: 'sitter-tenableaudits'

fileTypes: ['audit']

comments:
  start: '#'

scopes:
  'program': 'source.tenableaudits'
  'comment': 'comment.block'
  'ui_metadata': 'string'
